.employee {
    display: flex;
    align-items: center;
    border-top: 8px solid #F5BA25;
    padding: 10px 30px;

    img {
        display: none;
    }

}

#navbar-container {
  background-image: url("../family-landscape.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);

  .blurb {
    color: white;
  }
}

// This applies from 960px onwards
@media (min-width: 960px) {

    #first-boxes {
        .header {
            padding: 20px 60px;
        }
    }

    .employee {
        padding: 40px 60px;

        img {
            display: block;
            height: 150px;
            margin: 20px 40px;
            border-radius: 5px;
        }
    }
}
